.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #555;
  background: linear-gradient(
          135deg,
          rgba(161, 230, 227, 1) 0%,
          rgba(161, 230, 227, 1) 50%,
          rgba(236, 160, 182, 1) 50%,
          rgba(236, 160, 182, 1) 100%
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}